section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное лечение пяточной шпоры
		h1 Лазерное лечение пяточной шпоры
		.content_wrap
			img(src="img/uslugi/usluga07/main.jpg", alt="")
			h2 Лечение пяточной шпоры лазерным аппаратом «Multiline»
			p Лечение с помощью лазерного луча используется в медицине очень часто. Используется этот метод лечения при неэффективности консервативной терапии или в комплексе с ней.
			p <b><i>Как это происходит?</i></b><br> При воздействии лазерного луча на ткани, происходит активация ферментов, которые в свою очередь ускоряют необходимые биохимические процессы в организме. В результате клетки становятся более жизнеспособными и обновляются.
			h2 Основные лечебные эффекты:
			ul
				li Обезболивающий;
				li Противовоспалительный;
				li Бактерицидный;
				li Противоотёчный;
				li Биостимулирующий;
				li Десенсебилизирующий;
				li Расслабляющий;
				li Восстанавливающий.
			h2 Преимущества лазерного лечения:
			ul
				li Ускоряется выздоровление;
				li Усиливается действие лекарственных средств;
				li Отсутствие аллергических реакций;
				li Стойкий лечебный эффект;
				li Не вызывает побочных эффектов;
				li Процедура безболезненна;
				li Не нужна госпитализация;
			h2 Для записи на приём обращайтесь по номеру 111
	include ../sidebar