section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Удаление, коррекция растяжек (стрий)
		h1 Лазерное удаление, коррекция растяжек (стрий)
		.content_wrap
			img(src="img/uslugi/usluga13/main.jpg", alt="")
			h2 Удаление, коррекция растяжек (стрий) на коже лазером Multiline методом SMA
			p Растяжки (или стрии) нередко возникают из-за резкого изменения массы тела, например, при беременности, лактации, в подростковый период жизни, у спортсменов. При сильном натяжении кожи происходит разрыв эластичных волокон кожи, что приводит к появлению плоских атрофических рубцов (растяжки).
			p <i><b>Сегодня стало возможным устранить данную проблему без боли и риска побочных эффектов.</b></i>
			p Лазерное воздействие полностью обновляет кожу в зоне обработки. Волокна рубца разрушаются, и организм начинает вырабатывать новые коллагеновые волокна. В результате структура тканей в зоне дефекта становится такой же, как и у нормальной кожи.
			h2 Для записи на приём обращайтесь по номеру 111
			img(src="img/uslugi/usluga13/pic01.jpg", alt="")
	include ../sidebar