section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное SMA-омоложение
		h1 Лазерное SMA-омоложение
		.content_wrap
			img(src="img/uslugi/usluga02/main.jpg", alt="")
			h2 Это один из лучших современных и эффективных способов омоложения кожи
			p <b>С оборудованием «Multiline» омоложение теперь возможно независимо от сезона!</b><br>Лазерный луч создаёт десятки тысяч микроканалов, при образовании которых организм запускает механизмы формирования нового коллагена и эластина. Вследствие этого наблюдается эффект разглаживания мелких и средних морщин, сужение пор и улучшение цвета и текстуры кожи. Лазерное воздействие не вызывает перегрева кожи, боли, но заставляет организм полностью обновить кожу в зоне обработки.
			h2 Показания:
			ul
				li Инволюционные процессы кожи любого типа;
				li Наличие статических морщин;
				li Фотостарение;
				li Преждевременное старение кожи;
				li Гипертрофические рубцовые деформации;
				li Постакне в виде гипо-, и атрофических рубцовых деформаций.
			p Также лазерное SMA омоложение поможет в борьбе с другими трудными в устранении косметическими недостатками: рубцами и растяжками, излечивает постакне, сужает поры и обладает эффектом лифтинга («подтягивания»).
			p Через день после процедуры исчезает незначительное покраснение, слой старых клеток отшелушивается и эффект от процедуры становится более выраженным.
			h2 Противопоказания:
			ul
				li Онкологические заболевания;
				li Сахарный диабет в стадии декомпенсации;
				li Психические заболевания;
				li Беременность, лактация;
				li Наличие кардиостимулятора;
			p <b>Период реабилитации 5-7 дней. Эффект нарастает в течение 1,5-2 месяцев.</b>
			h2 Для записи на приём обращайтесь по номеру 111
			img(src="img/uslugi/usluga02/pic01.jpg", alt="")
	include ../sidebar