section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное лечение грибка ногтей
		h1 Лазерное лечение грибка ногтей (онихомикоз)
		.content_wrap
			img(src="img/uslugi/usluga05/main.jpg", alt="")
			h2 Лечение грибка ногтей (онихомикоз) высокоинтенсивным эрбиевым и неодимовым лазером «Multiline»
			p Онихомикоз – инфекционное заболевание ногтей, вызываемое дерматомицетами, дрожжевыми или плесневыми грибами.
			h2 Онихомикоз характеризуется:
			ul
				li Изменением структуры и цвета ногтевой пластины, её утолщением;
				li Расслоением, утолщением и ломкостью ногтя;
				li Неприятным запахом;
				li Трудно поддается лечению;
				li Скопление роговых масс под ногтём – подногтевой кератоз.
			p Уникальная возможность комфортно и безопасно избавиться от грибка ногтей с помощью высокоинтенсивного эрбиевого и неодимового лазера «Multiline»!
			h2 Подготовка
			ul
				li Накануне пропарить ноги (на 5 л горячей воды 2 ст.л. соды и 50 гр. хоз.мыла). Парить ноги 15-25 мин.
				li Ногти коротко подстричь, снять лак (если имеется).
				li В день проведения процедуры не наносить на ноги кремы, присыпки и другие препараты.
			p <i>Курс 6-10 сеансов.</i>
			p Лазер нагревает ноготь, проникает глубоко в ногтевое ложе и ростковую зону. Высокая температура приводит к коагуляции (склеиванию) мицелия и грибных спор.
			h2 Преимущества:
			ul
				li Не требует анестезии;
				li Не требуется местных, а также системных антигрибковых средств;
				li Отсутствие побочных эффектов;
				li Не вызывает ожогов тканей;
				li Бережно коагулирует сосуды, питающие мицелий гриба.
			h2 Между процедурами
			ol
				li Носить свободную, дышащую обувь из натуральных материалов.
				li Следить за дезинфекцией обуви и чулочно-носочных изделий.
				li Маникюр и педикюр проводить только стерильными инструментами.
			h2 Профилактика
			ul
				li Стирать носки при t° - 60°С, проглаживать носки утюгом;
				li Отказаться от ношения тесной обуви;
				li Всегда пользоваться индивидуальной обувью в общественных местах – бассейнах, саунах, спортивных залах.
			p <b><i>Лазерное лечение грибка ногтей – это наиболее эффективный до 90%, прогрессивный и безопасный метод борьбы с онихомикозами!</i></b>
			h2 Для записи на приём обращайтесь по номеру 111
	include ../sidebar