section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерная обработка гнойных ран и трофических язв
		h1 Лазерная обработка гнойных ран и трофических язв
		.content_wrap
			img(src="img/uslugi/usluga03/main.jpg", alt="")
			h2 Лазерная обработка гнойных ран и трофических язв ER лазером с насадкой SMA «Мультилайн»
			p Применяется при лечении гнойно-воспалительных изменений, <b><i>для ускорения репаративных (восстановительных) процессов в них и сокращения сроков заживления ран.</i></b> При воздействии лазера происходит освобождение от некротических и гнойных масс, улучшается капиллярное кровоснабжение и стимулируется рост новых неизменённых тканей.
			p Практическое использование данного метода позволяет говорить о том, что оно позволяет достичь положительного лечебного эффекта — <b><i>резко уменьшить развитие воспалительных изменений в трофических язвах,</i></b> и предотвратить их увеличение либо развитие генерации инфекции, <b><i>ускорить процесс регенерации тканей,</i></b> и тем самым способствовать быстрейшему заживлению.
			p Проводим облучение эрбиевым лазером многофункциональной системы MULTILINE™  2 раза в неделю, курсом 4-5 сеансов. По мере стихания воспалительного процесса и появления признаков грануляции в дальнейшем, с целью стимулирования регенеративных процессов, лечение проводим  1 раз/неделю.
			p <b><i>В зависимости от скорости эпителизации количество сеансов у одного больного колеблется от 6 до 10. </b></i>
			h2 Для записи на приём обращайтесь по номеру 111
			h2 <i>Результаты лечения. Контент может быть не приятен для просмотра.</i>
			button.hide Смотреть
			.hidden.hidden_content
				img(src="img/uslugi/usluga03/pic01.jpg", alt="")
				img(src="img/uslugi/usluga03/pic02.jpg", alt="")
				img(src="img/uslugi/usluga03/pic03.jpg", alt="")
				img(src="img/uslugi/usluga03/pic04.jpg", alt="")
				img(src="img/uslugi/usluga03/pic05.jpg", alt="")
				img(src="img/uslugi/usluga03/pic06.jpg", alt="")
				img(src="img/uslugi/usluga03/pic07.jpg", alt="")
				img(src="img/uslugi/usluga03/pic08.jpg", alt="")
				img(src="img/uslugi/usluga03/pic09.jpg", alt="")
				img(src="img/uslugi/usluga03/pic10.jpg", alt="")
				iframe(width="592", height="300", src="https://www.youtube.com/embed/9cDPoyHw-U8", frameborder="0", allowfullscreen)

	include ../sidebar