section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное лечение вросшего ногтя
		h1 Лазерное лечение вросшего ногтя
		.content_wrap
			img(src="img/uslugi/usluga15/main.jpg", alt="")
			h2 Лечение вросшего ногтя лазером Multiline
			p Вросший ноготь (онихокриптоз) – патологический процесс врастания ногтевой пластины в боковую часть ногтевого валика, сопровождающийся воспалением мягких тканей.
			p Вросший ноготь – это ноготь , который начинает расти в боковом направлении, деформируясь и проникая в мягкие ткани ногтевого валика. Это приводит к хроническому воспалению. Чаще всего появляется вросший ноготь на ноге (на пальцах стопы).
			h2 Причины врастания ногтя:
			ul
				li Неправильный уход за ногтями (неправильная стрижка ногтей);
				li Ношение тесной обуви, обуви с высокими каблуками;
				li Наследственная предрасположенность;
				li Деформация стопы, плоскостопие;
				li Грибковые заболевания ногтей;
				li Нарушение кровообращения пальцев;
				li Травма пальца.
			h2 Вросший ноготь - симптомы:
			ul
				li боль в месте врастания ногтя во время ходьбы, особенно в тесной обуви;
				li покраснение и отечность кожи вокруг ногтя;
				li образование и выделение гноя из-под ногтевой пластины;
				li палец с вросшим ногтем приобретает синюшно-красный оттенок, гноится, сильно увеличивается в размере (наполовину и более); 
				li выраженная болезненность не только при ходьбе, но и в покое
			h2 Вросший ноготь - лечение
			p Лечение вросшего ногтя в домашних условиях может усугубить проблему. Многие ошибочно стараются еще короче срезать вросший край ногтя, при этом существует риск занесения в очаг воспаления дополнительную инфекцию. <br>При длительном течении заболевания (несколько месяцев) у больных сахарным диабетом, атеросклерозом или другими заболеваниями сосудов, которые приводят к нарушению питания тканей конечностей, вросший ноготь может привести к гангрене пальца.
			h2 Существует несколько способов лечения вросшего ногтя:
			ul
				li удаление вросшего ногтя хирургическое
				li удаление вросшего ногтя лазером
				li лечение вросшего ногтя радиоволновое
			h2 Проведение лечения вросшего ногтя при помощи лазера
			p При помощи лазера удаляется врастающий участок ногтевой пластинки и участки поврежденных мягких тканей. После этого обрабатывается ложе удаленной части ногтя и ростковая зона. <br><b>Операция длительностью 20-30 минут может быть выполнена в день обращения. После операции накладывается асептическая повязка.</b>
			h2 Преимущества лечения вросшего ногтя лазером 
			ul
				li Процедура абсолютно безболезненна, проводится под местной анестезией
				li Полностью восстанавливается внешние параметры пальца
				li Не требуется наложения швов
				li Не нужны ежедневные перевязки
				li Луч лазера  обладает стерилизационным эффектом, что позволяет избежать послеоперационной инфекции
				li Заживление происходит в среднем в два раза быстрее, чем после использования других методов
			h2 Для записи на приём обращайтесь по номеру 111
	include ../sidebar