section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное удаление доброкачественных новообразований
		h1 Лазерное удаление доброкачественных новообразований
		.content_wrap
			img(src="img/uslugi/usluga10/main.jpg", alt="")
			h2 Лазерное удаление доброкачественных новообразований (бородавки, папилломы, пигментные невусы) лазером Multiline
			p <i><b>К доброкачественным новообразованиям относятся бородавки, папилломы, невусы и т.п.</i></b> Бородавки и папилломы вызывает вирус, чаще всего это вирус папилломы человека. Люди с подавленным иммунитетом более восприимчивы к новообразованиям.
			p <i><b>Наиболее современным и деликатным методом лечения</i></b> на сегодняшний день является лазерное удаление новообразований кожи.
			p <i><b>Лазер воздействует непосредственно на образование кожи.</i></b> Во время лазерного удаления новообразований - все бактерии погибают за счет высокой температуры лазерного луча.
			p <i><b>После процедуры</i></b> на месте новообразования образуется сухая корочка, которая отпадает сама через 10-14 дней.
			h2 Для записи на приём обращайтесь по номеру 111
			img(src="img/uslugi/usluga10/pic01.jpg", alt="")
			img(src="img/uslugi/usluga10/pic02.jpg", alt="")
			img(src="img/uslugi/usluga10/pic03.jpg", alt="")
			img(src="img/uslugi/usluga10/pic04.jpg", alt="")
			img(src="img/uslugi/usluga10/pic05.jpg", alt="")
			img(src="img/uslugi/usluga10/pic06.jpg", alt="")
			iframe(width="592", height="300", src="https://www.youtube.com/embed/ztb91ydT2rw" frameborder="0", allowfullscreen)
	include ../sidebar