section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерный пилинг (шлифовка)
		h1 Лазерный пилинг (шлифовка)
		.content_wrap
			img(src="img/uslugi/usluga06/main.jpg", alt="")
			h2 Лазерный пилинг (шлифовка) эрбиевым лазером «Multiline»
			p <i><b>Каждая женщина мечтает о красивой коже:</b></i> нежной, гладкой и шелковистой. Добиться идеала не так-то просто, поэтому большинству из нас приходится прилагать немало усилий, чтобы достичь внешней красоты. Чтобы эффект был естественным косметологи рекомендуют проводить лазерную шлифовку лица. Лазерный пилинг <b><i>позволяет избавиться от глубоких и средних морщин, рубцов, шрамов, которые остались от лечения угревой болезни, сделать кожу гладкой и без изъянов.</b></i>
			p После процедуры улучшается состояние кожи: <b><i>повышается её тонус и эластичность, выравнивается рельеф и цвет.</b></i>
			h2 Показания:
			ul
				li Инволюционные процессы кожи любого типа;
				li Наличие статических морщин;
				li Фотостарение;
				li Преждевременное старение кожи;
				li Гипертрофические рубцовые деформации;
				li Постакне в виде гипо-, и атрофических рубцовых деформаций.
			p <b><i>Как это происходит?</b></i> С помощью лазера мы удаляем эпидермис (верхний слой кожи), и в ответ на это организм вырабатывает новую кожу, более гладкую и ровную.
			p <b>Лазерный аппарат «Multiline»</b> обеспечивает строгий контроль глубины проникновения лазерных лучей в ткани, что делает лазерный пилинг безопасной и эффективной процедурой.
			p <b>Длительность процедуры</b> от 30-60 минут, проводится под местным обезболиванием.
			p <b>Реабилитационный период</b> в течение 10 дней.
			p <b>Эффект</b> после лазерного пилинга будет сохраняться на протяжении длительного времени (3-5 лет).
			h2 Для записи на приём обращайтесь по номеру 111

	include ../sidebar