section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерная эпиляция
		h1 Лазерная эпиляция
		.content_wrap
			img(src="img/uslugi/usluga04/main.jpg", alt="")
			h2 Эпиляция лазером Multiline
			p Это <b><i>уникальная методика удаления не только волос, но и причин его роста</i></b> – волосяного фолликула. При этом окружающая кожа не нагревается и не повреждается. Эффективно удаляет волосы любого цвета: тёмные, светлые и даже рыжие. В зависимости от цвета кожи и цвета волос может использоваться неодимовый, александритовый или рубиновый лазер. <b><i>Процедура проводится в любое время года.</b></i> Курс процедур зависит от индивидуальных особенностей: типа волос, скорости их роста, наличия эндокринных нарушений и др.
			p Первые процедуры проводятся с интервалом 2 недели. Дальнейшие процедуры – по мере отрастания волос. Соблюдение интервала зависит достижение положительного результата.
			h2 Для записи на приём обращайтесь по номеру 111
			img(src="img/uslugi/usluga04/pic01.jpg", alt="")
			img(src="img/uslugi/usluga04/pic02.jpg", alt="")
			img(src="img/uslugi/usluga04/pic03.jpg", alt="")
	include ../sidebar