section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное лечение псориаза
		h1 Лазерное лечение псориаза
		.content_wrap
			img(src="img/uslugi/usluga14/main.jpg", alt="")
			h2 Лечение псориаза лазером Multiline
			p <i><b>Псориаз относится к хроническим кожным заболеваниям</b></i> и проявляется шелушащимися папулезными проявлениями на коже. Чаще всего заболеванию подвержены люди 20-45 летнего возраста. Псориаз очень трудно поддается лечению, ибо для этого необходимо знать причины, его вызывающие. Характерные для заболевания высыпания могут явиться последствием стресса, аллергической реакции, воспалительных болезней, кожных повреждений, инфекционных заболеваний и др.
			p Лечение псориаза лазером - это метод лечения путем воздействия на очаги болезни лазерным излучением. Облучение бляшек на локальном уровне  разрешает избирательно, <b><i>безболезненно и точно воздействовать на очаг</b></i> поражения.
			p После нескольких сеансов процедур внешняя <b><i>симптоматика заболевания становится менее заметной.</b></i> Постепенно непривлекательные бляшки начинают бледнеть и пропадать. Лазерное лечение псориаза способствует нормализации состояния, приобретению естественной структуры кожи. Клиническая картина псориаза лишается ухудшений. <b><i>На коже прекращают появляться новые высыпания.</b></i> Воздействие лазера не дает побочных эффектов. Кожный покров вокруг шелушащихся бляшек не повреждается, поскольку луч света действует только на очаги поражения. 

			h2 Для записи на приём обращайтесь по номеру 111
	include ../sidebar