section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерое удаление пигментных пятен и веснушек
		h1 Лазерное лечение пигментной патологии (пигментных пятен, веснушек и пигментного невуса)
		.content_wrap
			img(src="img/uslugi/usluga01/main.jpg", alt="Лазерое удаление пигментных пятен и веснушек")
			h2 Удаление пигментных пятен и веснушек кожи лазером Multiline
			p Метод лечения пигментных изменений кожи, в режиме использования Рубинового RUBY и Александритового ALEX лазеров многофункциональной лазерной системы MULTILINE.
			p <b>Удаляем пигментные пятна любого типа</b> – возрастные пигментные пятна, пигментные пятна типа «кофе с молоком», веснушки и др. Также лазер эффективен для загорелой и даже темной кожи, при этом, не нарушая естественную пигментацию.
			p Метод позволяет лечить пигментные заболевания на любом фототипе кожи, без усиления пигментации, образования гипопигментированых областей. Риск образования рубцов в данном случае равен нулю. 
			p Воздействие лазера происходит на клеточном уровне. Удаляются только те клетки, которые содержат повышенное количество пигмента (меланина). Окружающая кожа не повреждается, не нагревается.
			p <i>Длительность курса зависит от особенностей пигментации, ее интенсивности и глубины.</i>
			h2 Преимущества метода:
			ul
				li Отличный результат при лечении эпидермальных и дермальных пигментных изменений кожи.
				li Малый срок реабилитации после процедуры.
				li Отсутствует риск гипо- и гиперпигментации.
			h2 Для записи на приём обращайтесь по номеру 111
			img(src="img/uslugi/usluga01/pic01.jpg", alt="")
			img(src="img/uslugi/usluga01/pic02.jpg", alt="")
	include ../sidebar




