section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное лечение угревой болезни
		h1 Лазерное лечение угревой болезни
		.content_wrap
			img(src="img/uslugi/usluga09/main.jpg", alt="")
			h2 Лечение угревой болезни (акне) и постакне лазером Multiline
			p В лазерном комплексе  «Мультилайн»  используется Nd:Yap/Qsw лазер с длиной волны 1079 нм. В основе метода лежит создание акустической волны и незначительного термического воздействия, которые оказывают раздражающее действие на инфильтративные очаги. В ответ на раздражение идет приток иммунокомпетентных клеток к очагу воспаления, <b><i>запускается каскад иммунных реакций и, как следствие этого, разрешения воспаления.</b></i>
			p Акустическая волна воздействует и на межклеточные связи кератиноцитов, разрушая их и, таким образом способствует уменьшению гиперкератоза кожи .Ликвидация гиперкератоза кожи уменьшает количество колоний  P.acne  и их метаболитов, которые беспрепятственно выводятся из фолликула и не накапливаются до токсического уровня, чтобы повреждать стенку фолликула, поддерживая воспаление.
			p Таким образом, воздействуя на все звенья патогенеза, <b>мы добиваемся клинического улучшения,</b> переводя процесс в более легкую стадию, а в ряде случаев добиваемся длительной  ремиссии болезни. Данный  метод лечения также является профилактикой осложнений в виде рубцов и синюшных пятен.
			p <b><i>Это новейшая эффективная бесконтактная методика</b></i> лечения угревой болезни в стадии обострения, которая позволяет за минимальные сроки устранить воспалительные изменения. 
			h2  Преимуществом процедуры является:
			ul
				li Предупреждение образования рубцовых изменений, застойных пятен;
				li Коррекция выработки кожного сала;
				li Рассасывание подкожных уплотнений;
				li Профилактика появления новых высыпаний.
			p Иногда угревая болезнь протекает в тяжёлой форме, при которой поражаются глубокие слои кожи, затем образуются кисты и свищи. Впоследствии на коже остаются глубокие рубцы – постакне. В этом случае наиболее эффективной и безопасной методикой является применение ER лазера с насадкой SMA .
			h2 Для записи на приём обращайтесь по номеру 111
			img(src="img/uslugi/usluga09/pic01.jpg", alt="")
			img(src="img/uslugi/usluga09/pic02.jpg", alt="")
			img(src="img/uslugi/usluga09/pic03.jpg", alt="")
			img(src="img/uslugi/usluga09/pic04.jpg", alt="")
	include ../sidebar