section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное удаление татуировок
		h1 Лазерное удаление татуировок
		.content_wrap
			img(src="img/uslugi/usluga11/main.jpg", alt="")
			h2 Удаление (обесцвечивание) татуировок, перманентного макияжа лазером Multiline
			p Множество методов было испробовано для выведения татуировок. Все эти методы были основаны на одном принципе - удалении участков кожи с татуировкой. Местное применение кислот, дермабразия, криохирургия, хирургические иссечения, инфракрасное коагулирование - все эти методы эффективно удаляют татуировку. Однако косметический результат после такого удаления оставляет желать лучшего: слишком высока вероятность появления эстетически неприемлемых рубцов, которые могут оказаться еще более нежелательными, чем сама татуировка. 
			p Лазер воздействует на частицы красителя татуировки, <i><b>без повреждения окружающих тканей.</b></i> Тестовый сеанс позволяет определить тип лазера для удаления Вашего рисунка (неодимовый, александритовый, рубиновый). Во время сеанса татуировка обесцвечивается. Остатки красителя выводятся из организма естественным образом (через лимфатическую систему).
			h2 РУБИНОВЫЙ ЛАЗЕР
			p В настоящее время он, в основном, <b><i>применяется для выведения черных, зеленых, синих татуировок,</b></i> расположенных в эпидермисе, а также любительских и ненасыщенных профессиональных татуировок тех же цветов, красители которых находятся в дерме. Если гранулы находятся глубоко в коже, а сам краситель достаточно насыщен, то такая татуировка скорее всего окажется стойкой к воздействию этим лазером. Усиление интенсивности лазерного воздействия в этом случае может привести к стойким изменениям пигментации.
			h2 АЛЕКСАНДРИТОВЫИ ЛАЗЕР
			p Как и рубиновый лазер, он <b><i>применяется для выведения черных, зеленых, синих татуировок</b></i> в эпидермисе, а также любительских и ненасыщенных профессиональных татуировок тех же цветов, красители которых находятся в дерме (достаточно глубоко в коже). Отличие от рубинового лазера заключается в возможности более "быстрой" обработки татуированной поверхности. 
			h2 НЕОДИМОВЫЙ ЛАЗЕР
			p <b><i>Самый универсальный из всех,</b></i> воздействует фактически на все цвета пигмента.  Так же ему характерна самая высокая скорость обработки. 
			p Применение селективной фотокавитации не требует, как при использовании других видов лазерного удаления, применения анестезии, хотя процедуру назвать безболезненной сложно. Снижена и вероятность образования рубцов, пигментных пятен, изменения структуры кожи.
			p Конечный результат в любом случае зависит от качества краски (никто не может гарантировать хороших результатов, если вместо специальных красок использовались, например, чернила из шариковой или гелевой ручки), глубины залегания пигмента, использованной техники нанесения, мест нанесения татуировки.
			h2 Для записи на приём обращайтесь по номеру 111
	include ../sidebar