section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное удаление шрамов и рубцов
		h1 Лазерное удаление шрамов и рубцов
		.content_wrap
			img(src="img/uslugi/usluga12/main.jpg", alt="")
			h2 Лазерное удаление шрамов и рубцов SMA методом лазером Multiline
			p <i><b>Наиболее эффективный способ</b></i> выравнивания рельефа кожи и рубцов с контролируемой глубиной воздействия -.шлифовка ER-лазером. Она не вызывает перегрева кожи и не вызывает рубцевания внутренних слоев эпидермиса, запускает процессы регенерации в коже. Лазерная шлифовка испаряет соединительную ткань рубца. Под лазерным воздействием за тысячные доли секунды испаряются слои соединительной ткани. Одновременно стимулируются к делению расположенные рядом клетки. Это дает мощный толчок к регенерации. После обработки методом лазерной шлифовки кожа постепенно восстанавливает свое естественное состояние.
			p <b><i>Новейшая, эффективная методика удаления рубцов</b></i> при помощи Эрбиевого лазера (ER:YAG), дополненного SMA –модулем, предложенная компанией «ЛИНЛАЙН» позволяет лечить все виды рубцовых изменений кожи. Данный метод отличается низкой травматичностью, коротким периодом реабилитации. и превосходным эффектом. Окружающая кожа не повреждается, и  не нагревается. Под воздействием лазера рубцовая ткань начинает разрушаться, а на ее месте постепенно формируется новая здоровая кожа. 
			h2 Для записи на приём обращайтесь по номеру 111
			img(src="img/uslugi/usluga12/pic01.jpg", alt="")
			img(src="img/uslugi/usluga12/pic02.jpg", alt="")
			img(src="img/uslugi/usluga12/pic03.jpg", alt="")
			img(src="img/uslugi/usluga12/pic04.jpg", alt="")
	include ../sidebar