section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="uslugi.html") Услуги 
			span / Лазерное лечение сосудистой патологии
		h1 Лазерное лечение сосудистой патологии
		.content_wrap
			img(src="img/uslugi/usluga08/main.jpg", alt="")
			h2 Удаление сосудистых звёздочек, расширенных сосудов и гемангиом лазером Multiline
			p Многофункциональный лазер Multiline <b><i>позволяет эффективно удалять расширенные сосуды,</b></i> не воздействуя на окружающие ткани. Селективное разрушение кровеносных сосудов может быть достигнуто только при помощи лазерного воздействия. Основной смысл метода лазерного удаления сосудов в аппарате «МУЛЬТИЛАЙН»предусматривает <b>воздействие на сосуды двумя различными видами лазерного излучения.</b> При этом первая длина волны (540 нм),проникая в кожу, вызывает коагуляцию отдельных (незначительных) обьемов крови на поверхности сосудов. в то же время вторая длина волны плохо поглощается состовляющими кожи, что позволяет ей проникать на глубину до 8 мм. Эта вторая длина волны играет решающую роль – она начинает поглощаться уже коагулированной кровью, вызывая еще больший разогрев и коагуляцию всего сосуда. Под воздействием лазера происходит склеивание стенок кровеносного сосуда, расширенный сосуд запаивается и исчезает.
			p <i><b>Процедура является безопасной, неинвазивной и высокоэффективной.</b></i>
			h2 Для записи на приём обращайтесь по номеру 111
			img(src="img/uslugi/usluga08/pic01.jpg", alt="")
			img(src="img/uslugi/usluga08/pic02.jpg", alt="")
			img(src="img/uslugi/usluga08/pic03.jpg", alt="")
			img(src="img/uslugi/usluga08/pic04.jpg", alt="")
			img(src="img/uslugi/usluga08/pic05.jpg", alt="")
			img(src="img/uslugi/usluga08/pic06.jpg", alt="")
	include ../sidebar