section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / Статьи
		.content_wrap
			.article_wrap
				.h1 Лечение эпидермальных невусов у детей эрбиевым лазером Er:YAG 2936 нм на базе комплекса Multiline™
				img(src="img/articles/article01.jpg", alt="")
				p <i>Научно-практический журнал «ЛАЗЕРНАЯ МЕДИЦИНА» т. 18, вып. 2, 2014 год Шарафанович Е.М., Назарук С.И., Тарасик А.О., Михалевская Т.М., Клецкая И.С. ГУ «Республиканский научно-практический центр детской онкологии, гематологии и иммунологии», Республика Беларусь</i><br> Эпидермальные невусы относятся к врожденным немеланоцитарным образованиям, представляющим собой эмбриональный порок развития кожи.
				a(href="article02.html") Читать дальше
			.article_wrap
				.h1 Клинические случаи лечения трофических язв с использованием аппарата MULTILINE™
				img(src="img/articles/article02.jpg", alt="")
				p Трофическая язва – это, за редким исключением, не самостоятельная болезнь, а тяжелое патологическое осложнение целого ряда болезней, которые сопровождаются нарушением кровообращения при заболеваниях:
				ul
					li Сосудов
					li Вен (хроническая венозная недостаточность)
					li Артерий (проявления атеросклероза, эндартериита, сахарного диабета)
				a(href="article01.html") Читать дальше
			.article_wrap
				.h1 Возможности применения высокоэнергетического лазера в детской хирургии
				p <i>Научный руководитель, ассистент Рустамов В.М., клинический ординатор Сухарев С. А., Врач-хирург Потройный А.В. Кафедра детской хирургии</i>
				p Детская хирургическая патология – частая проблема в педиатрической практике. Врачи ежедневно сталкиваются с необходимостью выбора наиболее оптимальной схемы лечения.  В работе показаны возможности применения высокоэнергетического Nd:YAG-лазера и Nd:YAP/KTP/Q-switched-сосудистого лазера (ВЭЛ) «MULTILINE» фирмы «LINLINE»  в лечении различных хирургических болезней  детского возраста.
				a(href="article03.html") Читать дальше
			.article_wrap
				.h1 Лечение гемангиом у детей
				p <i>Врач-хирург Потройный А.В. клинический ординатор Сухарев С. А. Кафедра детской хирургии, Белорусский государственный медицинский университет г.Минск</i>
				p Актуальность проблемы гемангиом у детей несомненна, так как речь идет о косметических и, в некоторых случаях, функциональных результатах лечения сложных сосудистых заболеваний и как следствие - дальнейшем качестве жизни данной категории пациентов. Суть проблемы кроется в частоте встречаемости и локализации патологии. Около 10% детей к году имеют гемангиомы, из них до 2% составляют винные пятна. Открытые участки кожного покрова (голова, лицо, шея) поражаются более чем в 80% случаев. При этом девочки болеют в 2 раза чаще, чем мальчики
				a(href="article04.html") Читать дальше

	include ./sidebar