section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="articles.html") Статьи 
			span / Клинические случаи лечения трофических язв 
		h1 Клинические случаи лечения трофических язв с использованием аппарата MULTILINE™
		.content_wrap
			img(src="img/articles/article02.jpg", alt="Клинические случаи лечения трофических язв")
			p <b>Трофическая язва</b> – это, за редким исключением, не самостоятельная болезнь, а тяжелое патологическое осложнение целого ряда болезней, которые сопровождаются нарушением кровообращения при заболеваниях:
			ul
				li сосудов;
				li вен (хроническая венозная недостаточность);
				li артерий (проявления атеросклероза, эндартериита, сахарного диабета, диабетическая ангиопатия). Пролежни также являются вариантом артериальной язвы;
				li дерматологических (инфицированная экзема);
				li аутоимунных (коллагенозы, васкулиты, болезни крови);
				li при повреждении нервов или спинного мозга (нейропатические);
				li нарушение оттока лимфы;
				li травмы костей.
			h2 Этиологическая частота трофических язв:
			ul
				li варикозные 52%
				li артериальные 14%
				li смешанные 13%
				li посттромбофлебитические 7%
				li посттравматические 6%
				li диабетические 5%
				li нейротрофические 1%
				li прочие 2%
			h2 Классификация:
			p по глубине:
			ul
				li I степень – поверхностная язва (эрозия) в пределах дермы
				li II степень – язва достигающая подкожной клетчатки
				li III степень – язва, которая пенетрирует до фасции или субфасциальных структур (мышцы, сухожилия, связки, кости), в полость суставной сумки или сустава
			p по площади:
			ul
				li малые до 5 см<sup>2</sup>
				li средние от 5 до 20 см<sup>2</sup>
				li обширные (гигантские) свыше 50 см<sup>2</sup>
			h2 Современное лечение трофических язв направлено на:
			ul
				li стимуляцию регенеративных процессов;
				li нормализацию тканевого кровотока;
				li очищение язвенной поверхности от отмерших тканей и патологической флоры;
				li быстрое восстановление работоспособности и ранней реабилитации больного.
			img(src="img/articles/article01-pic01.jpg", alt="").inline
			p.inline Трофическая язва подошвенной поверхности стопы. Хронический посттравматический остеомиелит. Б-ой Л. 29 лет.
			img(src="img/articles/article01-pic02.jpg", alt="").inline
			p.inline Результат после 5 сеансов лазерного лечения.
			p Задачей предлагаемого способа лечения трофических язв высокоэнергетическим лазером является лечение гнойно-воспалительных изменений в мягких тканях, ускорение репаративных процессов в них и сокращения сроков их заживления. <br>Для реализации способа необходимо обеспечить два условия. Первое — поверхность язвы должна быть освобождена от некротических и гнойных масс. Второе — необходимо улучшить капиллярное кровоснабжение в области язвы и прилегающих к ней тканях и по возможности обеспечить стимуляцию роста новых, не измененных тканей.
			p Первой часть воздействия может быть реализована благодаря уникальным возможностям излучения эрбиевого лазера, работающего в импульсном режиме. При использовании импульсов длительностью, меньшей чем ВТР (время термической релаксации — время в течение которого облученный объект аккумулирует тепло, а не передает его окружающим тканям) клеток, вся энергия лазерного импульса расходуется на испарение поглотивших его клеток, а не разогрева нижележащих слоев тканей. В результате этого, создаются такие условия, при которых происходит локальный разогрев тканей и гнойных масс, до температуры, заведомо превышающей температуру жизнеспособности любых биологических объектов, включая гнойные бактерии и их споры.
			p Широко используемый в медицине углекислотный лазер не способен реализовать такой режим абляции, так как температура испарения достигается постепенно, с перегревом нижележащих слоев, что дает возможность диффундировать гнойным бактериям в здоровые ткани.
			p Так как данный режим (режим абляции) не подразумевает разогрев нижележащих слоев тканей, то возможно проведение стерилизации раневых поверхностей с отличным визуальным контролем глубины абляции. Контролем достаточности обработки является появление капиллярного кровотечения в зоне обработки. Это говорит о достижении живых тканей.
			p Преимущество такого метода стерилизации раневых поверхностей, над всеми иными очевидна. Использование локальных сверхвысоких температур, не позволяет выработать резистентность к воздействию. Степень травмирования здоровых тканей минимальна. Данный метод может быть реализован только с помощью эрбиевого лазера работающего в импульсном режиме.
			p Организация улучшения капиллярного кровоснабжения необходима для решения нескольких задач. Прежде всего, после проведения сеанса санации гнойной раны, необходимо обеспечить приток крови, для очистки раны и стимулирования ее эпителизации. Кроме того, хорошее кровоснабжение является необходимым условием для роста новых тканей.
			p Улучшения капиллярного кровоснабжения можно добиться используя разработанный в компании «ЛИНЛАЙН Медицинские Системы» метод пространственно модулированной абляции (SMA), при котором создаются особые очаги микротравмирования тканей. Данные микротравмирования располагаются внутри тканей, имеют размерности от сотен нанометров, до десятков микрометров и не контактируют с внешней агрессивной средой, что приводит к стимуляции роста новых, не измененных тканей в зоне воздействия и усиления капиллярного кровоснабжения данных областей.
			p Практическое использование данного метода позволяет говорить о том, что оно позволяет достичь положительного лечебного эффекта — резко уменьшить развитие воспалительных изменений в трофических язвах, и предотвратить их увеличение либо развитие генерации инфекции, ускорить процесс регенерации тканей, и тем самым способствовать быстрейшему заживлению.
			p роводили облучение эрбиевым лазером многофункциональной системы MULTILINE™ с длиной волны 2940nm с модулем SMA d=6мм 2 раза в неделю, курсом 4-5 сеансов. По мере стихания воспалительного процесса и появления признаков грануляции в дальнейшем, с целью стимулирования регенеративных процессов, лечение проводили 1 раз/неделю. В зависимости от скорости эпителизации количество сеансов у одного больного колебалось от 6 до 10.
			p Лечение нейротрофических язв представляет собой особенно трудную задачу. На фото показана хроническая язва с плотными каллезными краями, которая существовала у пациентки 9 лет.
			img(src="img/articles/article01-pic03.jpg", alt="").inline
			p.inline Посттравматическая нейротрофическая язва стопы, длительность около 5 лет, неэффективность традиционного лечения (перевязки, повязки с мазями, гелями, антисептиками, физиотерапевтическое лечение).
			img(src="img/articles/article01-pic04.jpg", alt="").inline
			p.inline Результат после 5 сеансов лазерного лечения.
			h3 Синегнойная инфекция при диабетической ангиопатии
			img(src="img/articles/article01-pic05.jpg", alt="").inline
			p.inline Ампутационная культя голени (сахарный диабет). Обширный некроз краев раны (Бак. Исследования – синегнойная палочка).
			img(src="img/articles/article01-pic06.jpg", alt="").inline
			p.inline Результат после 1 сеанса лазерного лечения.
			img(src="img/articles/article01-pic07.jpg", alt="").inline
			p.inline Результат после 2-х сеансов лазерного лечения.
			p Pseudomonas aeruginosa — один из частых возбудителей гнойно-воспалительных процессов в условиях стационара. Лечение синегнойной палочки затруднительно ввиду высокой устойчивости ее к антибиотикам и др. медикаментам. Возбудитель устойчив к действию антисептиков, способен нейтрализовать некоторые дезинфектанты.
			p При бактериологическом исследовании материала с поверхности гнойных ран после процедуры абляции излучением эрбиевого лазера наблюдалось снижение содержания микроорганизмов ниже критического уровня, либо — полная стерильность. Наблюдается выраженная антибактериальная активность эрбиевого лазера при воздействии на большинство патогенных бактерий
			h3 Диабетическая ангиопатия
			p Трофическая язва появляется, когда ткани не получают достаточно питательных веществ и кислорода. У больных сахарным диабетом приток крови к тканям достаточен, но поступающие с кровью питательные вещества плохо усваиваются тканями. <br>Обычно у больных диабетической ангиопатией проходимость капиллярного русла оказывается минимальной. Рост грануляционной ткани у таких больных либо не отмечается вовсе, либо протекает очень вяло. На фото мы видим значительную активацию роста грануляционной ткани и ускоренное заживление раны при воздействии лазером Er:YAG + SMA-модуль.
			img(src="img/articles/article01-pic08.jpg", alt="").inline
			p.inline Трофическая язва подошвенной поверхности стопы.
			img(src="img/articles/article01-pic09.jpg", alt="").inline
			p.inline Результат после 2-х сеансов лазерного лечения.
			p Нередко к трофической язве присоединяются микробная или грибковая инфекция, что усугубляет течение болезни.
			img(src="img/articles/article01-pic10.jpg", alt="").inline
			p.inline Трофическая язва с гнойным содержимым.
			img(src="img/articles/article01-pic11.jpg", alt="").inline
			p.inline Результат через 2 дня после процедуры.
			p  Б-ой С. Р. 1995 г.р. д-з основной: осложнённый компрессионно – оскольчатый перелом тела и дужек с5 позвонка. Перелом пластин дуг с3 позвонка. Нижняя спастическая параплегия, верхний вялый парапарез. Нарушение функции тазовых органов.<br> В области крестца определяется глубокий пролежень в некротически – воспалительной стадии 10х12см (S=120см2). Дном пролежня являются мышцы, края пролежня инфильтрированы и подрыты. Раневая поверхность покрыта фиброзно-гнойным налетом. Наличие кишечной палочки в ране. Обработка трофической язвы излучением эрбиевого лазера перед пересадкой кожи позволит ускорить очищение раны и увеличить приживаемость пересаживаемых кожных лоскутов.
			img(src="img/articles/article01-pic12.jpg", alt="").inline
			img(src="img/articles/article01-pic13.jpg", alt="").inline
			img(src="img/articles/article01-pic14.jpg", alt="").inline
			img(src="img/articles/article01-pic15.jpg", alt="").inline
			p Этапы лечения пролежня задней поверхности левого бедра IV ст. Пролежни — омертвление (некроз мягких тканей в результате постоянного давления сопровождающейся местными нарушениями кровообращения и нервной трофики). Монолечение — лечение пролежня облучением эрбиевого лазера с присоединенным SMA-модулем.
			img(src="img/articles/article01-pic16.jpg", alt="").inline
			img(src="img/articles/article01-pic17.jpg", alt="").inline
			img(src="img/articles/article01-pic18.jpg", alt="").inline
			img(src="img/articles/article01-pic19.jpg", alt="").inline
			h2 Остеомиелит верхней челюсти
			p Остеомиелит верхней челюсти представляет собой инфекционный гнойно–некротический процесс, развивающийся в кости и окружающих ее тканях.
			ul
				li донтогенный (источник больной зуб);
				li гематогенный;
				li осттравматический.
			p Остеомиелит вызывают различные микроорганизмы, чаще стафилококки, реже стрептококки и др. бактерии.
			p Больная С. 1981г.р. Жалобы на боли в области верхней челюсти, с усилением и иррадиацией в глазницу и висок. Повышение температуры тела до 38 градусов С. Патологическому процессу предшествовал острый апикальный периодонтит, свищи с выделением гноя.
			img(src="img/articles/article01-pic20.jpg", alt="").inline
			img(src="img/articles/article01-pic21.jpg", alt="").inline
			p Пролечено 6 пациентов с хорошим лечебным эффектом. В ходе проводимого лечения происходило купирование болей и зуда, уменьшение отечности тканей и воспалительных явлений. Наблюдался постепенный регресс патологических изменений в зоне трофических расстройств.
			h3 Выводы
			p Использование эрбиевого лазера MULTILINE™ с модулем SMA в комплексной терапии трофических язв различной этиологии патогенетически обосновано и клинически эффективно.
			p <b>Установлено:</b> лазерное излучение активизирует микроциркуляцию в ране, действует бактериостатически, ускоряет отторжение некротических тканей, уменьшает отек, стимулирует рост грануляций и их эпителизацию.
			p Включение лазеротерапии в комплекс лечебных мероприятий по лечению трофических язв позволяет улучшить результаты их лечения, сократить сроки заживления ран.
			p <i>Потройный Аркадий Владимирович врач - хирург /консультант по медицине «ЛИНЛАЙН Медицинские Системы». Лекция в Белорусском Государственном Медицинском Университете</i>

	include ./sidebar



