section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="articles.html") Статьи 
			span / Применение высокоэнергетического лазера в детской хирургии
		h1 Возможности применения высокоэнергетического лазера в детской хирургии
		.content_wrap
			p <i>Научный руководитель, ассистент Рустамов В.М., клинический ординатор Сухарев С. А., Врач-хирург Потройный А.В. Кафедра детской хирургии</i>
			p Детская хирургическая патология – частая проблема в педиатрической практике. Врачи ежедневно сталкиваются с необходимостью выбора наиболее оптимальной схемы лечения.  В работе показаны возможности применения высокоэнергетического Nd:YAG-лазера и Nd:YAP/KTP/Q-switched-сосудистого лазера (ВЭЛ) «MULTILINE» фирмы «LINLINE»  в лечении различных хирургических болезней  детского возраста.
			p На базе ДХЦ методы лазерной коагуляции, вапоризации и абляции применяются преимущественно при лечении таких патологий, как гемангиомы кожных покровов,  рубцовые стриктуры пищевода, пищевод Баретта,  мембрана 12-перстной кишки , фиброзные опухоли пищевода, стенозы эзофаго-эзофагоанастомоза , трахео-пищеводные свищи , грануляции в трахее. Наиболее часто ВЭЛ «MULTILINE» фирмы «LINLINE» используется для лечения сосудистых опухолей, в связи с чем мы решили основное внимание уделить гемангиомам кожи.
			p В работе используется дополненная классификация гемангиом по С.Д. Терновскому:
			ol
				li Истинные гемангиомы: 1.1 капиллярные, 1.2 кавернозные, 1.3 комбинированные
				li Ложные гемангиомы: 2.1 плоские гемангиомы (веномы, артериомы), 2.2 звездчатые (паукообразные) гемангиомы, 2.3 ботриомикомы (пиококковые гранулемы), 2.4 медиальные пятна [2,3].
			h2 Актуальность работы
			p Использование ВЭЛ – современный метод лечения, позволяющий выполнять вмешательство с минимальной травматизацией тканей и максимальным положительным эффектом для ребёнка.
			h2 Цели исследования: 
			ul
				li Проанализировать возможности применения ВЭЛ в лечении детской патологии по данным ДХЦ;
				li Установить возможные факторы, способствующие возникновению гемангиом; 
				li Установить зависимость между наличием гемангиомы и группой крови ребенка; 
				li Установить, являются ли эритроциты и тромбоциты количественными показателями активности гемангиом;
				li Предложить протокол диагностики и лечения гемангиом кожных покровов на основании изученных данных и собственных наблюдений. 
			h2 Материалы и методы
			p Проанализировано 197  историй болезни пациентов, имеющих сосудистую патологию кожи, за период с 2009 по 2011 год. Соотношение девочек и мальчиков составило 2,5:1 (67,51 % : 32,48 %), возраст детей от 1 месяца до 16 лет. Выделено три возрастные группы: дети до 1 года составили 74,49 % (146), от 1 года до 7 лет – 22,45 % (44), дети старше 7 лет – 3,06 % (6). С рождения гемангиомы проявились у 93,9 % пациентов, с 2х-недельного возраста – у 4,545 %, с 2х-месячного – у 1,515  %. Способность сосудистой опухоли к росту наблюдалась у 13,636  %  детей. Трое детей (1,53 %)  рождены ранее положенного срока. Наименьший срок родоразрешения – 28 недель. Истинные гемангиомы наблюдались у 157 (79,69 %) пациентов, из них 54 (27,41 %) ребёнка имели капиллярные гемангиомы, кавернозные - 74 (37,56  %), комбинированные  - 29 (14,72 %). Синдром Казабаха-Меритта выявлен у 2 детей (1,02 %). В структуре ложных гемангиом 38 (19,29 %) детей имели винные пятна. У 6 (3,05 %) детей выявлен  гемангиоматоз. У 30 (15,23 %) пациентов гемангиомы были множественными. Локализация патологии: волосистая часть головы, лицо, шея – 32,49%, туловище – 30,96%, верхние конечности -12,69%, нижние конечности -  4,57%. Одностороннее множественное поражение кожи гемангиомами наблюдалось у 6 пациентов (3,061%) . У 24 пациентов (12,24%) отмечена сопутствующая патология либо в анамнезе были  перенесённые в детстве заболевания. Из них: дисплазия тазобедренных суставов – 3 (12,5%), МАРС – 6 пациентов (25 %), ВПР – 3 детей (12,5 %), субэпиндемальные кисты головного мозга – 4 (16,67 %), глухонемота – 1 (4,17 %), острый пиелонефрит – 2 пациента (8,33 %), неонатальная желтуха – 5 (20,85 %). У 63 (31,98 %) пациентов было проведено хирургическое лечение, причем у 4 (6,35 %) перед операцией отсутствовал результат от склеротерапии. В 99,5 % случаев после операции  - полное исчезновение гемангиом. 53 (26,90 %) детям выполнена лазеротерапия, у 95,65 % детей наблюдалось улучшение течения патологического процесса. 80 (40,61 %)  выполнена склеротерапия, улучшение наблюдалось у 89,47 % детей. 1 ребёнку (0,51 %)  с гемангиомами в области переносицы и задней поверхности шеи назначено лечение пропранололом в дозе, 2 мг/кг. У 4 пациентов (2,03 %)  имелся биохимический анализ крови с исследованием на щелочную фосфатазу. Данный показатель у всех был повышен (1 - 615ммоль/л; 2 – 620 ммоль/л; 3 – 508 ммоль/л; 4 – 516 ммоль/л). Проанализировав общий анализ крови, выделено два возможных показателя активности гемангиом: тромбоциты и эритроциты. Красные клетки крови (в % к n=149) были в норме у 97 (65,11 %) пациентов, у 52(34,89 %) детей данный показатель был повышен. Тромбоциты (в % к n=152) были в норме у 81 пациента (53,29%), повышены у 64 пациентов (42,11 %), понижены у 7 (4,6 %). Проанализирована свёртываемость крови по Сухареву. Начало свёртывания (в % к n=54) было в норме у 37 пациентов (68,52 %), уменьшение времени  выявлено у 17 детей (31,48 %). Окончание времени свёртывания (в % к n=56): норма наблюдалась у 52 пациентов (92,86 %), уменьшение показателя выявлено у 4 детей (7,14%). 
			p Анализируя данные историй болезни пациентов, прооперированных по поводу гемангиомы (n=63), в 39 случаях (61,9 %) мы столкнулись с несоответствием клинического диагноза и гистоморфологического исследования. В связи с этим мы считаем, что необходимо более тщательное обследование детей с целью установления оптимальной тактики ведения и выбора метода лечения гемнгиомы. 
			h2 Диагностика:
			ul
				li Анамнез, осмотр, пальпация, исследование кожного дефекта под лупой.
				li Определение площади гемангиом.
				li Лабораторная диагностика: общий анализ крови, коагулограмма, определение свертываемости крови по Сухареву.
				li УЗИ (определение глубины распространения опухоли, исследование анатомо-топографических особенностей расположения, структуры опухоли, измерение скорости кровотока в периферических сосудах и паренхиме гемангиомы).
				li Ангиография (сложная анатомическая локализация, множественные гемангиомы).
			h2 Тактика лечения
			ol
				li Выжидательная тактика: если гемангиома не является причиной серьезного косметического дефекта, отсутствует рост опухоли и наблюдаются признаки спонтанной регрессии (уплощение и побледнение сосудистой опухоли).
				li Лечение истинных и ложных гемангиом: лазеротерапия, склеротерапия (при небольших, глубоко расположенных сосудистых опухолях сложной локализации, при лечении небольших кавернозных и комбинированных гемангиом), криодеструкция (все истинные гемангиомы небольшой площади любой локализации и в любом возрасте ребенка, из-за простоты можно использовать амбулаторно), терапия пропранололом (при сложной анатомической локализации).
				li При синдроме Казабаха-Меритта основной метод лечения – стероидная терапия.  
				li Хирургическое лечение: при отсутствии эффекта от консервативных методов лечения. при глубоко расположенных сосудистых опухолях, когда можно удалить гемангиому без значительного косметического ущерба. Количество процедур определяется степенью регрессии гемангиомы.
			p Существует множество теорий возникновения гемангиом, однако ни одна из них не доказана. С целью установления возможных факторов, способствующих возникновению гемангиом, было проведено анкетирование родителей, у детей которых встречалась данная патология. Мы задавали следующие вопросы:
			ul
				li Ф.И.О. матери
				li В какой женской консультации мать наблюдалась во время беременности?
				li Дата рождения ребенка
				li Пол ребенка
				li Возраст матери ребенка, возраст отца ребенка
				li Хронические заболевания у матери и отца ребенка(если есть, указать у кого какие)
				li Наличие гемангиом у близких родственников (если есть, указать у кого именно)
				li Инфекционные заболевания во время беременности (если были, указать какие и в какой срок)
				li Наличие гестозов (если были, указать какие именно и на каком сроке)
				li Продолжительность беременности
				li Вредные привычки матери до, во время беременности ( курение, прием алкоголя, наркотики) 
				li Прием лекарственных препаратов во время беременности (если принимали, указать какие именно и на каком сроке)
				li Как часто во время беременности испытывали психоэмоциональный стресс? (вообще не испытывала, редко, достаточно часто, очень часто, постоянно)
				li Время появления гемангиомы у ребенка (сразу после рождения, в течение первых дней, недель, первых месяцев после рождения)
				li Наличие у ребенка других заболеваний, пороков развития (если есть, указать какие)
				li Проводимое лечение по поводу гемангиомы, его эффективность
				li Группа крови и резус-принадлежность ребенка
				li Общий анализ крови: количество эритроцитов количество тромбоцитов
				li Локализация гемангиомы
				li С чем вы связываете появление гемангиомы у ребенка?
				li Проведенные прививки, наличие изменений в развитии гемангиомы после прививки
				li Проведенные УЗИ во время беременности (если были отклонения от нормы, указать какие) 
			p По результатам анкетирования вероятными факторами, играющими роль в возникновении  гемангиом являются: курение женщины во время беременности, прием лекарственных препаратов по поводу осложненной беременности (курантил, пимафуцин), острые респираторные заболевания. Сами родители связывали появление гемангиом с родовым травматизмом. Часть родителей данный вопрос не интересовал. Семейно-наследственной предрасположенности не выявлено. При анализе  историй болезни и анкет родителей, группы крови распределились следующим образом. У 48,98 % детей имеется I группа крови, у 26,53 % - II группа крови, у 18,37 % - III группа крови, у 6,12 % - IV. 91 % детей резус положительные. Дети с I группой крови находятся в зоне риска.
			p Проанализировано 14 историй болезни пациентов за период с апреля 2010 года по январь 2012 года, пролеченных методоми лазерной вапоризации и абляции ВЭЛ «MULTILINE» фирмы «LINLINE» (длина волны 1,08; 1,34 мкм, мощность 50 Вт) с использованием гибких эндоскопов. Из них: 
			ul
				li РСП: пролечено 3 детей (21, 43%). Количество проведённых манипуляций – 52. Результат – щадящее удаление рубцов слизистой и подслизистой оболочек пищевода. Адекватное восстановление проходимости пищевода  с возможностью последующего стентирования.
				li Пищевод Баретта: пролечено 2 детей (14,29%). Количество манипуляций – 27. Результат: регенерации нормальной слизистой из камбиального резерва клеток слизистых желез пищевода. Единственный эффективный метод лечения данной патологии (терапия омепразолом не позволяет добиться хорошего клинического эффекта, хирургическое лечение сопровождается риском развития внутри- и послеоперационных осложнений, и не всегда может быть выполнено). Однако требуется радикальная коррекция причины кишечной метаплазии.
				li МДПК: пролечен 1 ребёнок (7,14%). Количество манипуляций – 2. Результат: частичное восстановление проходимости 12-перстной кишки, улучшение эвакуаторной функции ЖКТ. 
				li Фиброз дистального отдела пищевода: пролечен 1 ребёнок (7,14%). Количество манипуляций – 5. Результат: временное улучшение проходимости пищевода состояния пациента. 
				li 3 (21,43 %) детей со СЭЭА после пластики пищевода по поводу ВПР: атрезии пищевода III типа. Пролечено 3 детей (21,43% ). Результат: компенсация пациентов. 
				li Приобретенный ТПС: пролечено 3 детей (21,43%). Количество манипуляций – 4.   результат: У 2 пациентов реканализация свища не наблюдается. У одного пациента свищ значительно уменьшился в размерах. 
				li Грануляции трахеи: пролечен 1 ребенок после этапных коррекций ВПР: ЛТПР, имеющий трахеостому, в зоне стояния которой под голосовыми складками сформировались грануляции, закрывающие полностью просвет голосовой щели и нарушающие дыхание. Количество манипуляций – 4. Результат – адекватное восстановление просвета дыхательных путей.
			h2 Выводы: 
			ul
				li Лазерное излучение  ВЭЛ «MULTILINE» фирмы «LINLINE»с длиной волны 540/1079 нм, размером рабочего пятна 3 мм оказывает минимальное термическое действие, что способствует восстановлению структуры кожного покрова с минимальным формирования рубцовой ткани. Удалось получить хороший косметический результат у 95 % пациентов. Применение данного сосудистого лазера является единственным методом лечение детей с винными пятнами.
				li Эритроциты и тромбоциты не являются количественными показателями активности сосудистой опухоли. Дети с 1 группой крови в группе риска.
				li При лечении сээа, пищевода баретта, рсп, мдпк ВЭЛ  «MULTILINE» фирмы «LINLINE»получен хороший результат. При лечении тпс, грануляций трахеи и фиброза пищевода получен удовлетворительный результат. У всех пациентов. Повторные курсы лазеротерапии не сопровождались осложнениями. Послеоперационная летальность отсутствовала.
				li Для окончательного суждения об истинных возможностях ВЭЛ «MULTILINE» фирмы «LINLINE» и показаниях к этому методу необходимо дальнейшее накопление клинического материала и изучение отдаленных результатов вмешательств. 
	include ./sidebar






