section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / 
			a(href="articles.html") Статьи 
			span / Лечение гемангиом у детей
		h1 Лечение гемангиом у детей
		.content_wrap
			p <i>Врач-хирург Потройный А.В. клинический ординатор Сухарев С. А. Кафедра детской хирургии, Белорусский государственный медицинский университет г.Минск</i>
			p Актуальность проблемы гемангиом у детей несомненна, так как речь идет о косметических и, в некоторых случаях, функциональных результатах лечения сложных сосудистых заболеваний и как следствие - дальнейшем качестве жизни данной категории пациентов. Суть проблемы кроется в частоте встречаемости и локализации патологии. Около 10% детей к году имеют гемангиомы, из них до 2% составляют винные пятна. Открытые участки кожного покрова (голова, лицо, шея) поражаются более чем в 80% случаев. При этом девочки болеют в 2 раза чаще, чем мальчики.
			p В настоящее время нет единого мнения, определяющего тактику в отношении гемангиом. Одни авторы стремятся ограничить показания к лечению, ссылаясь на возможность спонтанной регрессии, другие рекомендуют начинать как можно раньше, мотивируя это тем, что предсказать возможность спонтанной регрессии в каждом конкретном случае трудно, а ранние сроки лечения, по их мнению, позволяют обеспечить лучшие косметические отдаленные результаты.
			p При выборе метода лечения гемангиомы необходимо принимать во внимание следующие основные положения: возраст ребенка, особенность проявления гемангиомы (локализация, объем, морфологический тип, темпы роста), механизм действия того или иного метода и характер заживления тканей после его применения. Все эти положения определяют дальнейший функциональный и косметический результат. При этом воздействие должно вызывать гибель опухоли, разрушение пролиферирующих клеток и порочно развитых сосудов, замещение ее по возможности нормальными структурными элементами кожи либо нежными рубцовыми тканями в максимально короткие сроки.
			p Криодеструкция - распространенный метод лечения гемангиом основным недостатком которого является невозможность адекватно оценить глубину воздействия хладогента, что может приводить к повреждению глубоких структур кожи, и соответственно, увеличивает риск рубцевания. Склерозирующая терапия также является достаточно эффективным методом, однако, в месте введения склерозанта происходит асептический некроз, что ведет к образованию рубцовых тканей. Электрофорез не всегда эффективен и процесс лечения, как правило, растягивается во времени. Хирургическое лечение – радикальный метод, но не всегда гарантирует хороший косметический результат, особенно если речь идет об открытых участках кожного покрова.
			p На сегодняшний день во всем мире активно ведутся разработки по оптимизации подходов к лечению данной патологии.<br>Научный и клинический поиски показали, что из всего арсенала воздействий на гемангиому наиболее физиологичным оказывается селективное лазерное излучение.
			p Данный метод подразумевает внутрисосудистую коагуляцию расширенных кровеносных сосудов, которая происходит за счет поглощения излучения определенной длины волны оксигемоглобином и преобразования световой энергии в тепловую. Для реализации слективной лазерной коагуляции используются различные длины волн излучения от 500, до 1200 нм и различные длительности импульсов от единиц наносекунд, до десятков миллисекунд.
			p К сожалению, несмотря на значительное снижение степени травмирования окружающих тканей, при использовании лазерных методик, не всегда удается получить хороший эстетический результат лечения. Связано это с тем, что помимо оксигемоглобина находящегося в расширенном сосуде, излучение эффективно поглощается так же меланином и оксигемоглобином, расположенным в нормальных капиллярах. Следствием данного поглощения является чрезмерное перегревание мягких тканей и как следствие – рубцевание последних. 
			p Для снижения степени воздействия на здоровые капилляры, уменьшения перегрева мягких тканей, то есть увеличения степени селективности был предложен механизм поэтапной коагуляции расширенных сосудов. Суть метода заключается в создании внутри расширенного сосуда новых хромофоров с оптическими свойствами отличными от оксигемоглобина и последующим селективным воздействием на них лазерным излучением. 
			p Подобный метод был реализован в лазерном аппарате «МУЛЬТИЛАЙН». Создание нового хромофора происходит за счет микрокоагуляции крови внутри сосуда, при воздействии на них Q-Sw импульсами с длиной волны 540нм. Благодаря использованию коротких импульсов (единицы наносекунд) не происходит равномерного разогрева сосуда, вместо этого, происходит коагуляция микрообластей крови. Эти микрообласти обладают иными, нежели окружающие, оптическими свойствами, что делает возможным воздействие на них таким излучением, которое плохо поглощается меланином и оксигемоглобином. В аппарате «МУЛЬТИЛАЙН» для этих целей используется излучение с длиной волны 1.08 мкм. 
			p Для уменьшения поглощения излучения здоровыми капиллярами, а так же увеличения глубины проникновения излучения в мягкие ткани этапу создания новых хромофоров предшествует подготовительный этап, который с помощью импульсов особой длительности и энергии выдавливает кровь из мелких капилляров. Благодаря этому единственной мишенью становятся расширенные капилляры.
			p За период с августа 2009 по январь 2012 года на базе Республиканского центра детской хирургии г. Минска проводилось лечение детей с гемангиомами различной локализации методом селективной лазерной коагуляции. В своей работе мы придерживались следующей классификации.
			h2 Истинные
			ul
				li Капиллярные
				li Комбинированные
				li Кавернозные
			img(src="img/articles/article04-1.jpg", alt="")
			img(src="img/articles/article04-2.jpg", alt="")
			img(src="img/articles/article04-3.jpg", alt="")
			h2 Ложные
			ul
				li Плоские (веномы, артериомы)
				li Звездчатые (паукообразные)
				li Ботриомикомы (пиококковые гранулемы)
				li Медиальные пятна
			img(src="img/articles/article04-4.jpg", alt="")
			img(src="img/articles/article04-5.jpg", alt="")
			img(src="img/articles/article04-6.jpg", alt="")
			p Для лечения 86 пациента применялся Nd:YAP/КТР/Q-switched-сосудистый лазер Multiline, с длиной волны 540/1079 нм и размером рабочего пятна 3 мм. Общее количество сеансов составило 466. По возрасту, дети распределились следующим образом: от 1 месяца до 18 лет. Истинные гемангиомы наблюдались у 62 пациентов, из них 50 детей имели капиллярные гемангиомы, смешанные 5, кавернозные 7. В структуре ложных гемангиом 21 ребенок имел винные пятна, 3 ребенка - сосудистые звездочки. Локализация патологии была следующая: волосистая часть головы, лицо, шея - 70%, туловище – 17%, верхние конечности 9%, нижние конечности 4%. Все манипуляции выполнялись в условиях перевязочного кабинета ДХЦ. Под интубационным наркозом лечилось 10 пациентов, под масочным – 15. Остальные дети в анестезии не нуждались. Выбор обезболивания зависел от вида гемангиомы, ее площади и локализации. После проведения первой манипуляции отмечалось прекращение роста гемангиомы, побледнение, уменьшение размеров. Кратность проведения манипуляций варьировала от 2 недель до 2 месяцев и определялась по степени клинической регрессии. Среднее количество сеансов лазерной внутрисосудистой коагуляции составило 5-7.
			h2 Некоторые результаты лечения приводятся ниже
			img(src="img/articles/article04-7.jpg", alt="")
			img(src="img/articles/article04-8.jpg", alt="")
			img(src="img/articles/article04-9.jpg", alt="")
			img(src="img/articles/article04-10.jpg", alt="")
			h2 Из проведенной нами работы можно сделать следующие выводы
			ul
				li Nd:YAP/КТР/Q-switched-сосудистый лазер Multiline показал высокую эффективность проведенных процедур, реализующуюся в селективности воздействия на сосуды гемангиомы, отсутствии риска рубцевания, уменьшении риска изменений пигментации кожи.
				li Может применяться как стартовый метод лечения гемангиом у детей
				li Может использоваться как монометод и в сочетании с другими методами лечения при сложных анатомических локализациях и морфологических формах.
				li Единственный и эффективный метод лечения винных пятен.

	include ./sidebar