section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / О враче
		h1 Потройный Аркадий Владимирович
		.content_wrap
			img(src="img/about/about.jpg", alt="Потройный Аркадий Владимирович")
			h2 Профессиональный навыки:
			ul
				li Лазерное лечение в комплексной терапии трофических язв и длительно незаживающих ран различной этиологии.
				li Диагностика и лазерное лечение сосудистых образований у детей (гемангиомы, лимфангиомы, сосудистые мальформации)
				li Лазерное лечение заболеваний кожи: сосудистые изменения, акне, постакне, лазерное омоложение, эпиляция.
				li Лазерное удаление доброкачественных новообразований, татуировок, эпидермальных невусов.
			h2 Образование:
			ul
				li <i>1985-1991 г.</i>   Минский государственный медицинский институт, лечебное дело.
				li <i>1992 г.</i>  Гомельская городская больница скорой медицинской помощи, врач – хирург
				li <i>1996 г.</i>  Центр аппаратной косметологии. Врач–хирург
				li <i>2005 г.</i>  Клиника лазерной косметологии «Линлайн» г. Москва. РФ  врач-хирург, зам. главного врача
				li <i>2009г.</i>   ООО «Линлайн Медицинские системы», врач хирург, консультант по медицине. г. Минск РБ
				li <i>2015г.</i>   Лечебно-консультативный центр «ЛОДЭ», врач-хирург, специалист по лазерной  медицине. РБ. Г.Минск
			h2 Повышение квалификации:
			ul
				li <i>1997 г.</i> ТУ «Лазеры в хирургии» Белорусский государственный институт усовершенствования врачей. г. Минск
				li <i>1999 г.</i> «Аппаратная косметология мышц лица и шеи» г. Санкт-Петербург
				li <i>1999 г.</i> II Международный конгресс по прикладной эстетике в России г.Москва
				li <i>2001 г.</i> ПС «Физиотерапия и курортология» СПбГМУ им. И.П.Павлова  г. Санкт-Петербург.
				li <i>2003 г.</i> Применение лазерного аппарата «Мультилайн» в дерматологии и косметологии. г. Минск
				li <i>2005 г.</i> «Аппаратная физиотерапия в косметологии» БелМАПО  г. Минск
				li <i>2009 г.</i> «Современные лазерные технологии в хирургии и эндоскопии. БелМАПО г. Минск.
				li <i>2009 г.</i> «Современные технологии в пластической хирургии» БелМАПО г. Минск
				li <i>2009 г.</i> ПК «Лазерные технологии в косметологии и пластической хирургии» БелМАПО г. Минск.
				li <i>2011 г.</i> «Лазерная и фотодинамическая терапия в медицине» МЗ РБ ГГМУ г. Гродно.
				li <i>2014 г.</i> Специализированные курсы по лазерной медицине «Лазерные технологии в хирургии». ФГБУ ГНЦ лазерной медицины г. Москва.
				li <i>2016 г.</i> «Лазерные технологии  в амбулаторной хирургии» БелМАПО г.Минск.
			
			.gallery_wrap
				+about(1)
				+about(2)
				+about(3)
				+about(4)
				+about(5)
				+about(6)
				+about(7)
				+about(8)
				+about(9)
				+about(10)
				+about(11)
				+about(12)
				+about(13)
				+about(14)
				+about(15)
				+about(16)
				+about(17)
				+about(18)
				+about(19)
	include ./sidebar




