footer.footer
	.container
		.footer_info
			img(src="img/doctor.jpg", alt="Потройный Аркадий Владимирович")
			.footer_title Потройный<br> Аркадий Владимирович
				.rounds.round1
				.rounds.round2
				.rounds.round3
			.footer_discr Медицинский центр "ЛОДЭ"<br> на пр. Независимости, 58 (г. Минск)
		.footer_menu
			ul
				li
					a(href="/") Главная
				li
					a(href="doctor.html") О враче
				li
					a(href="equipment.html") Оборудование
				li
					a(href="uslugi.html") Услуги
				li
					a(href="gallery.html") Галерея
				li
					a(href="reviews.html") Отзывы
				li
					a(href="articles.html") Статьи
				li
					a(href="partners.html") Партнеры
				li
					a(href="contacts.html") Контакты
		.footer_uslugi
			ul
				li
					a(href="usluga01.html") Лазерное удаление пигментных пятен и веснушек
				li
					a(href="usluga02.html") Лазерное SMA-омоложение
				li
					a(href="usluga03.html") Лазерная обработка гнойных ран и трофических язв
				li
					a(href="usluga04.html") Лазерная эпиляция
				li
					a(href="usluga05.html") Лазерное лечение грибка ногтей (онихомикоз)
				li
					a(href="usluga06.html") Лазерный пилинг (шлифовка)
				li
					a(href="usluga07.html") Лазерное лечение пяточной шпоры
				li
					a(href="usluga08.html") Лазерное лечение сосудистой патологии
				li
					a(href="usluga09.html") Лазерное  лечение угревой болезни
				li
					a(href="usluga10.html") Лазерное удаление доброкачественных новообразований
				li
					a(href="usluga11.html") Лазерное удаление татуировок
				li
					a(href="usluga12.html") Лазерное удаление шрамов и рубцов
				li
					a(href="usluga13.html") Лазерное удаление, коррекция растяжек (стрий)
				li
					a(href="usluga14.html") Лазерное лечение псориаза
				li
					a(href="usluga15.html") Лазерное лечение вросшего ногтя
			












