footer.footer
	.container
		.footer_info
			img(src="img/doctor.jpg", alt="Потройный Аркадий Владимирович")
			.footer_title Потройный<br> Аркадий Владимирович
				.rounds.round1
				.rounds.round2
				.rounds.round3
			.footer_discr Медицинский центр "ЛОДЭ"<br> на пр. Независимости, 58 (г. Минск)
		.footer_menu
			ul
				li
					a(href="") Главная
				li
					a(href="") О враче
				li
					a(href="") Оборудование
				li
					a(href="") Услуги
				li
					a(href="") Галерея
				li
					a(href="") Отзывы
				li
					a(href="") Статьи
				li
					a(href="") Партнеры
				li
					a(href="") Контакты
		.footer_uslugi
			ul
				li
					a(href="") Лазерное удаление пигментных пятен и веснушек
				li
					a(href="") Лазерное SMA-омоложение
				li
					a(href="") Лазерная обработка гнойных ран и трофических язв
				li
					a(href="") Лазерная эпиляция
				li
					a(href="") Лазерное лечение грибка ногтей (онихомикоз)
				li
					a(href="") Лазерный пилинг (шлифовка)
				li
					a(href="") Лазерное лечение пяточной шпоры
				li
					a(href="") Лазерное лечение сосудистой патологии
		.footer_uslugi
			ul
				li
					a(href="") Лазерное  лечение угревой болезни
				li
					a(href="") Лазерное удаление доброкачественных новообразований
				li
					a(href="") Лазерное удаление татуировок
				li
					a(href="") Лазерное удаление шрамов и рубцов
				li
					a(href="") Лазерное удаление, коррекция растяжек (стрий)
				li
					a(href="") Лазерное лечение псориаза
				li
					a(href="") Лазерное лечение вросшего ногтя
			












