section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / Галерея работ
		h1 Галерея работ
		.gallery_wrap
			+gallery(1)
			+gallery(2)
			+gallery(3)
			+gallery(4)
			+gallery(5)
			+gallery(6)
			+gallery(7)
			+gallery(8)
			+gallery(9)
			+gallery(10)
			+gallery(11)
			+gallery(12)
			+gallery(13)
			+gallery(14)
			+gallery(15)
			+gallery(16)
			+gallery(17)
			+gallery(18)
			+gallery(19)
			+gallery(20)
			+gallery(21)
			+gallery(22)
			+gallery(23)
			+gallery(24)
			+gallery(25)
			+gallery(26)
			+gallery(27)
			+gallery(28)
			+gallery(29)
			+gallery(30)
			+gallery(31)
			+gallery(32)
			a.video(href="https://www.youtube.com/watch?v=fNSj21TVwS4", target="blank")
				img(src="img/gallery/gallery034_.jpg", alt="")
			a.video(href="https://www.youtube.com/watch?v=9cDPoyHw-U8", target="blank")
				img(src="img/gallery/gallery035_.jpg", alt="")
			a.video(href="https://www.youtube.com/watch?v=PzSqUV5yKXw", target="blank")
				img(src="img/gallery/gallery036_.jpg", alt="")
	include ./sidebar



