header
	.header
		.container
			.title_wrap
				img(src="img/doctor.jpg", alt="Потройный Аркадий Владимирович")
				.title Потройный<br> Аркадий Владимирович
				.rounds.round1
				.rounds.round2
				.rounds.round3
			.contact_wrap
				span Моб. телефон: <a href="tel:80293193617">8029 3193617</a> (Аркадий Владимирович)<br> Для записи: 111, <a href="tel:80296383003">8029 638 30 03</a> (velcom)
	.header_menu
		.container
			ul
				li
					a(href="/") Главная
				li
					a(href="doctor.html") О враче
				li
					a(href="equipment.html") Оборудование
				li
					a(href="uslugi.html") Услуги
				li
					a(href="gallery.html") Галерея
				li
					a(href="reviews.html") Отзывы
				li
					a(href="articles.html") Статьи
				li
					a(href="partners.html") Партнеры
				li
					a(href="contacts.html") Контакты

