header
	.header
		.container
			.title_wrap
				img(src="img/doctor.jpg", alt="Потройный Аркадий Владимирович")
				.title Потройный<br> Аркадий Владимирович
				.rounds.round1
				.rounds.round2
				.rounds.round3
			.contact_wrap
				span Моб. телефон: 8029 3193617 (Аркадий Владимирович)<br> Для записи: 111, 8029 638 30 03 (velcom)
	.header_menu
		.container
			ul
				li
					a(href="") Главная
				li
					a(href="") О враче
				li
					a(href="") Оборудование
				li
					a(href="") Услуги
				li
					a(href="") Галерея
				li
					a(href="") Отзывы
				li
					a(href="") Статьи
				li
					a(href="") Партнеры
				li
					a(href="") Контакты

