section.main
	.main_banner
		.container
			.main_pic
				.main_info
					h1 Лазерная хирургия и косметология
					button Смотреть услуги

	.container
		p.main_discr Лечение лазером применяется в эстетической медицине, хирургии, дерматологии и позволяет решить очень многие эстетические проблемы кожи, устранить различные дефекты:
		.main_row
			.main_item
				img(src="img/main/main_pic_01.jpg", alt="")
				p Лазерное удаление пигментных пятен и веснушек
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_02.jpg", alt="")
				p Лазерное SMA-омоложение
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_03.jpg", alt="")
				p Лазерная обработка гнойных ран и трофических язв
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_04.jpg", alt="")
				p Лазерная эпиляция
				a(href="") Читать
		.main_row
			.main_item
				img(src="img/main/main_pic_05.jpg", alt="")
				p Лазерное лечение грибка ногтей (онихомикоз)
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_06.jpg", alt="")
				p Лазерный пилинг (шлифовка)
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_07.jpg", alt="")
				p Лазерное лечение пяточной шпоры
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_08.jpg", alt="")
				p Лазерное лечение сосудистой патологии
				a(href="") Читать
		.main_row
			.main_item
				img(src="img/main/main_pic_09.jpg", alt="")
				p Лазерное лечение угревой болезни
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_10.jpg", alt="")
				p Лазерное удаление добро-<br>качественных образований
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_11.jpg", alt="")
				p Лазерное удаление татуировок
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_12.jpg", alt="")
				p Лазерное удаление шрамов, рубцов
				a(href="") Читать
		.main_row
			.main_item
				img(src="img/main/main_pic_13.jpg", alt="")
				p Лазерное удаление, коррекция растяжек (стрий)
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_14.jpg", alt="")
				p Лазерное лечение псориаза
				a(href="") Читать
			.main_item
				img(src="img/main/main_pic_15.jpg", alt="")
				p Лазерное лечение вросшего ногтя
				a(href="") Читать


