section.main
	.main_banner
		.container
			.main_pic
				.main_info
					h1 Лазерная хирургия и косметология
					a(href="uslugi.html") Смотреть услуги

	.container
		p.main_discr Лечение лазером применяется в эстетической медицине, хирургии, дерматологии и позволяет решить очень многие эстетические проблемы кожи, устранить различные дефекты:
		.main_row
			a.main_item(href="uslugi/usluga01.html")
				img(src="img/main/main_pic_01.jpg", alt="")
				p Лазерное удаление пигментных пятен и веснушек
				span Читать
			a.main_item(href="uslugi/usluga02.html")
				img(src="img/main/main_pic_02.jpg", alt="")
				p Лазерное SMA-омоложение
				span Читать
			a.main_item(href="uslugi/usluga03.html")
				img(src="img/main/main_pic_03.jpg", alt="")
				p Лазерная обработка гнойных ран и трофических язв
				span Читать
			a.main_item(href="uslugi/usluga04.html")
				img(src="img/main/main_pic_04.jpg", alt="")
				p Лазерная эпиляция
				span Читать
		.main_row
			a.main_item(href="uslugi/usluga05.html")
				img(src="img/main/main_pic_05.jpg", alt="")
				p Лазерное лечение грибка ногтей (онихомикоз)
				span Читать
			a.main_item(href="uslugi/usluga06.html")
				img(src="img/main/main_pic_06.jpg", alt="")
				p Лазерный пилинг (шлифовка)
				span Читать
			a.main_item(href="uslugi/usluga07.html")
				img(src="img/main/main_pic_07.jpg", alt="")
				p Лазерное лечение пяточной шпоры
				span Читать
			a.main_item(href="uslugi/usluga08.html")
				img(src="img/main/main_pic_08.jpg", alt="")
				p Лазерное лечение сосудистой патологии
				span Читать
		.main_row
			a.main_item(href="uslugi/usluga09.html")
				img(src="img/main/main_pic_09.jpg", alt="")
				p Лазерное лечение угревой болезни
				span Читать
			a.main_item(href="uslugi/usluga10.html")
				img(src="img/main/main_pic_10.jpg", alt="")
				p Лазерное удаление добро-<br>качественных образований
				span Читать
			a.main_item(href="uslugi/usluga11.html")
				img(src="img/main/main_pic_11.jpg", alt="")
				p Лазерное удаление татуировок
				span Читать
			a.main_item(href="uslugi/usluga12.html")
				img(src="img/main/main_pic_12.jpg", alt="")
				p Лазерное удаление шрамов, рубцов
				span Читать
		.main_row
			a.main_item(href="uslugi/usluga13.html")
				img(src="img/main/main_pic_13.jpg", alt="")
				p Лазерное удаление, коррекция растяжек (стрий)
				span Читать
			a.main_item(href="uslugi/usluga14.html")
				img(src="img/main/main_pic_14.jpg", alt="")
				p Лазерное лечение псориаза
				span Читать
			a.main_item(href="uslugi/usluga15.html")
				img(src="img/main/main_pic_15.jpg", alt="")
				p Лазерное лечение вросшего ногтя
				span Читать


