//- IE mixin
mixin if-ie(condition, showInNonIeBrowser)
	- if(showInNonIeBrowser == null) showInNonIeBrowser = condition == "!IE";
	!= "<!--[if " + condition + "]>"
	if showInNonIeBrowser
		!= "-->"
	block
	if showInNonIeBrowser
		!= "<!--"
	!= "<![endif]-->"

//- SVG Mixin
mixin svg(name, all) 
	if (all)
		svg(class=name + " " + all)
			use(xlink:href="#" + name)
	else
		svg(class=name)
			use(xlink:href="#" + name)

mixin gallery(num)
	a.gallery_item(href="img/gallery/gallery0" + num + ".jpg")
		img(src="img/gallery/gallery0" + num + "_.jpg")

mixin about(num)
	a.gallery_item(href="img/about/pic/about0" + num + ".jpg")
		img(src="img/about/pic/about0" + num + "_.jpg")


