section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / Партнеры
		h1 Партнеры
		.content_wrap
			.partners-item
				img(src="img/partners/partner01.jpg", alt="")
				p ООО «Линлайн медицинские системы» разработка и изготовление лазерных медицинских аппаратов РБ г.Минск
			.partners-item
				img(src="img/partners/partner02.jpg", alt="")
				p Сеть клиник лазерной косметологии «ЛИНЛАЙН» РФ
			.partners-item
				img(src="img/partners/partner03.jpg", alt="")
				p ГУ «Республиканский научно-практический центр детской хирургии» Республика Беларусь 
			.partners-item
				img(src="img/partners/partner04.jpg", alt="")
				p ГУ «Республиканский научно-практический центр детской онкологии, гематологии и иммунологии» Республика Беларусь
			.partners-item
				img(src="img/partners/partner05.jpg", alt="")
				p Многопрофильный лечебно-консультативный центр «ЛОДЭ» Республика Беларусь
	include ./sidebar