section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / Отзывы
		h1 Отзывы
		.content_wrap
			.rewiews_wrap
				h2 Лазерное лечение вросшего ногтя
				p Выражаю благодарность хирургу Потройному Аркадию Владимировичу за проведенную операцию хирургическим лазером по удалению вросшего ногтя. Боли после операции не было. Рана заживает быстро, через пять дней рана сухая и начинает "затягиваться". Обслуживание культурное, внимательное. Меня все устроило.
				span Галина 59 лет

				 
