section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / Отзывы
		h1 Отзывы
		.content_wrap
			.reviews_wrap
				h2 Лазерное лечение вросшего ногтя
				p Выражаю благодарность хирургу Потройному Аркадию Владимировичу за проведенную операцию хирургическим лазером по удалению вросшего ногтя. Боли после операции не было. Рана заживает быстро, через пять дней рана сухая и начинает "затягиваться". Обслуживание культурное, внимательное. Меня все устроило.
				span Галина 59 лет
			.reviews_wrap
				h2 Я нашла "ЧУДО ДОКТОРА!!!
				p Хотелось бы выразить слова глубокой благодарности врачу-хирургу Потройному Аркадию Владимировичу за его высокий профессионализм, чуткое отношение к пациентам. У меня на ноге росла косточка, которая регулярно болела, доставляла мне неудобства, мешала носить красивую обувь. Этот доктор меня буквально спас и вылечил !!! После нескольких сеансов лазерной терапии у меня всё прошло! Благодаря стараниям Аркадия Владимировича, косточка исчезла и теперь я могу одевать любую обувь и с удовольствием её носить. Огромное спасибо мед. центру "Лоде" за такого грамотного специалиста!
				span Наталья 43 года
			.reviews_wrap
				h2 История моей болезни очень не приятная (трофическая язва обеих ног)
				p Обратился в ЛОДЭ где то в ночале августа к хирургу ПОТРОЙНОМУ АРКАДИЮ ВЛАДИМИРОВИЧУ. Приняли меня очень хорошо и проконсультировали что и как надо делать. С первого моего визита к врачу меня сразу начали лечить.За три месяца Аркадий Владимирович поставил меня на ноги.До прихода в ЛОДЭ где я только не был и кому только не обращался все бесполезно.В Боровлянах мне уже хотели отрезать обе ноги.Мучался я где то года полтора.Адские боли,бессонные ночи и куча обезбаливающих.Благодоря Аркадию Владимировичу я забываю это как страшный сон.Еще раз хочу сказать огромное огромное спасибо хирургу Потройному Аркадию Влидимировичу.А таже всему персоналу кто принимал участие в моем лечении..
				span Александр 30 лет

			.h1.margin-top Оставить отзыв
			form.otziv(action="//formspree.io/arcan444@gmail.com", method="POST", enctype="multipart/form-data")
				.col1
					label(for="name") Ваше имя
					label(for="email") Ваш email
					label(for="otziv") Текст отзыва
				.col2
					input(type="text", name="name", id="name", required)
					input(type="email", name="email", id="email", required)
					textarea(name="otziv", id="otziv", required)
					button Отправить
	include ./sidebar





