aside
	.aside
		h2 Услуги
		ul
			li
				a(href="usluga01.html") Лазерное удаление пигментных пятен и веснушек
			li
				a(href="usluga02.html") Лазерное SMA-омоложение
			li
				a(href="usluga03.html") Лазерная обработка гнойных ран и трофических язв
			li
				a(href="usluga04.html") Лазерная эпиляция
			li
				a(href="usluga05.html") Лазерное лечение грибка ногтей (онихомикоз)
			li
				a(href="usluga06.html") Лазерный пилинг (шлифовка)
			li
				a(href="usluga07.html") Лазерное лечение пяточной шпоры
			li
				a(href="usluga08.html") Лазерное лечение сосудистой патологии
			li
				a(href="usluga09.html") Лазерное  лечение угревой болезни
			li
				a(href="usluga10.html") Лазерное удаление доброкачественных новообразований
			li
				a(href="usluga11.html") Лазерное удаление татуировок
			li
				a(href="usluga12.html") Лазерное удаление шрамов и рубцов
			li
				a(href="usluga13.html") Лазерное удаление, коррекция растяжек (стрий)
			li
				a(href="usluga14.html") Лазерное лечение псориаза
			li
				a(href="usluga15.html") Лазерное лечение вросшего ногтя
