aside
	.aside
		h2 Услуги
		ul
			li
				a(href="uslugi/usluga01.html") Лазерное удаление пигментных пятен и веснушек
			li
				a(href="uslugi/usluga02.html") Лазерное SMA-омоложение
			li
				a(href="uslugi/usluga03.html") Лазерная обработка гнойных ран и трофических язв
			li
				a(href="uslugi/usluga04.html") Лазерная эпиляция
			li
				a(href="uslugi/usluga05.html") Лазерное лечение грибка ногтей (онихомикоз)
			li
				a(href="uslugi/usluga06.html") Лазерный пилинг (шлифовка)
			li
				a(href="uslugi/usluga07.html") Лазерное лечение пяточной шпоры
			li
				a(href="uslugi/usluga08.html") Лазерное лечение сосудистой патологии
			li
				a(href="uslugi/usluga09.html") Лазерное  лечение угревой болезни
			li
				a(href="uslugi/usluga10.html") Лазерное удаление доброкачественных новообразований
			li
				a(href="uslugi/usluga11.html") Лазерное удаление татуировок
			li
				a(href="uslugi/usluga12.html") Лазерное удаление шрамов и рубцов
			li
				a(href="uslugi/usluga13.html") Лазерное удаление, коррекция растяжек (стрий)
			li
				a(href="uslugi/usluga14.html") Лазерное лечение псориаза
			li
				a(href="uslugi/usluga15.html") Лазерное лечение вросшего ногтя
