section.container
	.content
		p.bread_crumb
			a(href="/") Главная 
			span / Услуги
		h1 Услуги
	.main_row
		a.main_item(href="usluga01.html")
			img(src="img/main/main_pic_01.jpg", alt="")
			p Лазерное удаление пигментных пятен и веснушек
			span Читать
		a.main_item(href="usluga02.html")
			img(src="img/main/main_pic_02.jpg", alt="")
			p Лазерное SMA-омоложение
			span Читать
		a.main_item(href="usluga03.html")
			img(src="img/main/main_pic_03.jpg", alt="")
			p Лазерная обработка гнойных ран и трофических язв
			span Читать
		a.main_item(href="usluga04.html")
			img(src="img/main/main_pic_04.jpg", alt="")
			p Лазерная эпиляция
			span Читать
	.main_row
		a.main_item(href="usluga05.html")
			img(src="img/main/main_pic_05.jpg", alt="")
			p Лазерное лечение грибка ногтей (онихомикоз)
			span Читать
		a.main_item(href="usluga06.html")
			img(src="img/main/main_pic_06.jpg", alt="")
			p Лазерный пилинг (шлифовка)
			span Читать
		a.main_item(href="usluga07.html")
			img(src="img/main/main_pic_07.jpg", alt="")
			p Лазерное лечение пяточной шпоры
			span Читать
		a.main_item(href="usluga08.html")
			img(src="img/main/main_pic_08.jpg", alt="")
			p Лазерное лечение сосудистой патологии
			span Читать
	.main_row
		a.main_item(href="usluga09.html")
			img(src="img/main/main_pic_09.jpg", alt="")
			p Лазерное лечение угревой болезни
			span Читать
		a.main_item(href="usluga10.html")
			img(src="img/main/main_pic_10.jpg", alt="")
			p Лазерное удаление добро-<br>качественных образований
			span Читать
		a.main_item(href="usluga11.html")
			img(src="img/main/main_pic_11.jpg", alt="")
			p Лазерное удаление татуировок
			span Читать
		a.main_item(href="usluga12.html")
			img(src="img/main/main_pic_12.jpg", alt="")
			p Лазерное удаление шрамов, рубцов
			span Читать
	.main_row
		a.main_item(href="usluga13.html")
			img(src="img/main/main_pic_13.jpg", alt="")
			p Лазерное удаление, коррекция растяжек (стрий)
			span Читать
		a.main_item(href="usluga14.html")
			img(src="img/main/main_pic_14.jpg", alt="")
			p Лазерное лечение псориаза
			span Читать
		a.main_item(href="usluga15.html")
			img(src="img/main/main_pic_15.jpg", alt="")
			p Лазерное лечение вросшего ногтя
			span Читать
